@import 'common';

.day-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>div {
    text-align: center;
  }

  &__times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    padding: 3px 0 2px;
    font-family: Lato,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    color: #07101C;
    border-left: 1px solid #8995AF;
    border-right: 1px solid #8995AF;

    input {
      width: 38px;
      text-align: center;
      font-weight: 400;
    }

    .error--text .v-input__control > .v-input__slot:before  {
      position: absolute;
      display: inline-block;
      bottom: -1px;
      content: '';
      left: 0;
      border: 1px solid #ef4d37;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: 100%;
    }
  }

  .v-input__slot {
    border: none !important;
  }

  &__clear {
    display: flex;
    align-items: center;
    width: 16px;
    margin-left: 7px;
  }

  &__clear-button {
    width: 100%;
    height: 16px;
    background: url('~assets/images/svg/cross.svg') center/10px no-repeat;
    outline: none;
  }
}
